/* header section */
*{
    padding: 0;
    margin: 0;
}

.nav-bar
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 23px 40px;
    border-bottom: 1px solid whitesmoke;
    box-shadow: 10px 10px 19px -5px whitesmoke;
}

.logo
{
    width: 33%;
}

.logo img
{
    height: 36px;
}

.nav-menu{
    width: 67%;
    list-style: none;
    display: flex;
    justify-content:space-around;
}

.nav-menu li{
    /* margin-left: 63px; */
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.hero{
    padding: 35px;
}

.hero-title
{
    font-family: "Montserrat", sans-serif;
    line-height: 5rem;
    text-transform: uppercase;
}

.title1
{
    font-size: 44px;
    font-weight: 500;
}

.title2
{
    color: #2371B0;
    font-size: 55px;
    font-weight: bold;
}